name: Publish
on: [workflow_dispatch]

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Publish
        env:
          PSGalleryKey: ${{ secrets.PSGalleryKey }}
        run: .\publish.ps1
        shell: pwsh
